<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/skeleton.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<style>
	
		* {
			box-sizing: border-box;
		}

		html, body {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-color: #fcfcfc;
		}

		#main {
			width: 100%;
			max-width: 100%;
			color: #333;
		}

		header {
			padding: 32px;
			height: 96px;
			background: linear-gradient(rgba(7, 148, 57, 1), rgba(7, 148, 57, 1));
			width: 100%;
			color: white;
			position: fixed;
			top: 0;
		}

		header ul {
			list-style-type: none;
			width: 50%;
			float: left;
		}

		header ul li {
			float: left;
		}

		#main .row {
			width: 100%;
			max-width: 100%;
			padding-top: 2.5%;
		}

		#logo {
			height: 32px;
		}
		
		a.button {
			color: white;
		}
		
		.right li {
			float: right;
			margin-right: 1em;
		}

		#whiteboard-manager-wrapper {
			margin-top: 96px;
			text-align: center;
		}

		#whiteboard-manager {
			width: 80%;
		}

		.lesson {
			background-color: #FAE1DD;
			text-align: left;
			width: 50%;
			border-radius: 10px;
			padding: 1.5em;
			margin-left: auto;
			margin-right: auto;
			margin-top: 1em;
			opacity: 0.7;
			overflow: scroll;
		}

		#delete-lesson-button {
			background-color: #FFAE19 !important;
			border: 1px solid #FFAE19 !important;
		}

		#delete-lesson-button:hover {
			background-color: #F39D00 !important;
			border: 1px solid #F39D00 !important;
		}

	</style>
	<script src="/scripts/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container" id="main">
		<header>
			<ul>
				<li><img src="/images/logo.png" id="logo"></li>
			</ul>
			<ul class="right">
				<li><a class="button" href="/logout">Log Out</a></li>
				<li><a class="button" href="/dashboard">Dashboard</a></li>
				<li><a class="button" href="/class/<%= Class.classCode %>"><%= Class.className %></a></li>
			</ul>
		</header>
		<div class="row" id="whiteboard-manager-wrapper">
			<div id="whiteboard-manager">
				<h3 style="display:inline-block">Saved Lessons</h3>
				<button id="new-lesson-button" style="float:right" class="button button-primary">START NEW LIVE LESSON</button>
				<input type="text" style="float:right" placeholder="Lesson name" id="create-lesson-name">
				<% for (var i=lessons.length-1; i>-1; --i) { %>
					<div class="lesson">
						<h3 style="display:inline-block"><%= lessons[i].dataValues.lessonName %></h3>
						<p style="font-size:12px; display:inline-block"><%= lessons[i].dataValues.updatedAt %></p>
						<input id="lessonUrl" type="text" style="display:none" value="<%= lessons[i].dataValues.lessonUrl %>">
						<button style="display:block" id="delete-lesson-button" class="button button-primary">DELETE LESSON</button>
						<a style="display:auto" class="button button-primary" href="/class/<%= Class.classCode %>/lesson/r/<%= lessons[i].dataValues.lessonUrl %>">START LESSON</a>
					</div>
				<% } %>
			</div>
		</div>
	</div>
	<script src="/scripts/jquery-2.1.4.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.lesson').hover(function(e) {
				$(this).fadeTo(100, 1);
			}, function(e) {
				$(this).fadeTo(100, 0.5);
			});
			$('#new-lesson-button').click(function(e) {
				$.ajax('/class/<%= Class.classCode %>/lesson/add', {
					method: 'POST',
					data: {
						lessonName: $('#create-lesson-name').val()
					},
					success: function(data) {
						location.href = '/class/<%= Class.classCode %>/lesson/r/' + data;
					}
				});
			});
			$('#delete-lesson-button').click(function(e) {
				var that = $(this);
				$.ajax('/class/<%= Class.classCode %>/lesson/r/' + $('#lessonUrl').val(), {
					method: 'DELETE',
					statusCode: {
						200: function() {
							that.parent().remove();
						}
					}
				})
			});
		});
	</script>
</body>
</html>